Hey {{ .first_name }},

{{ if .title }}I’m pretty impressed that you’ve achieved the rank of {{ .title }}{{ end }}

Now if you'll excuse me, I'm going to go on an overnight drunk,
and in 10 days I'm going to set out to find the shark that ate my friend
and destroy it. Anyone who wants to join me is more than welcome.

Best regards,

Steve

+1 202-456-1111
steve@zissou.com

{{ if .location }} P.S. {{ .location }} is nice this time of the year, isn’t it? {{ end }}